/**Ainda nao ta legal desculpas prof rodrigo*/
@media (max-width: 991px) {

    .card-group {
        display: block !important;
        width: 100% !important;
        gap: 0 !important;
    }

    .card {
        width: 90% !important;
        margin: 0 auto 20px auto !important;
    }

    .card img,
    .card-img-top {
        height: 260px !important;
        object-fit: cover !important;
    }

    .carousel-item {
        text-align: center;
    }

    .btn-primary {
        width: 70%;
        margin: 10px auto 0 auto;
    }
}
