/* Ícone hamburguer ainda em ajsutes!! */
.icon-menu {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

/* Fundo escuro */
.menu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.menu-content {
    position: relative;
    width: 70%;
    max-width: 300px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    animation: slideIn 0.3s ease;
}

.close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
}

.menu-content li {
    margin: 1rem 0;
}

.menu-content a {
    text-decoration: none;
    color: #141414;
    font-size: 1.1rem;
    font-weight: 600;
}

.menu-login-mobile {
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 60px;
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}


@media (max-width: 991px) {
    .menu-login-mobile .btn-Entrar {
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: #141414;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 10px 18px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;
        gap: 8px;
        width: 100%;
        margin-top: 2rem;
    }

    .menu-login-mobile .btn-Entrar img {
        width: 22px;
        height: 22px;
    }

    .menu-login-mobile .btn-Entrar:hover {
        background-color: #333;
    }

    /* Garante que o container apareça */
    .menu-login-mobile {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 2rem;
    }
}

