/* Ícone hamburguer */
.icon-menu {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

/* Fundo escuro */
.menu-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.menu-content {
    position: relative;
    width: 70%;
    max-width: 300px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    animation: slideIn 0.3s ease;
}

.close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
}

.menu-content li {
    margin: 1rem 0;
}

.menu-content a {
    text-decoration: none;
    color: #141414;
    font-size: 1.1rem;
    font-weight: 600;
}

/* Botão entrar dentro do menu mobile */
.menu-login-mobile {
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 60px;
}


/* Animação lateral */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* RESPONSIVIDADE */
@media (max-width: 991px) {
    .icon-menu {
        display: block;
    }

    .buscar,
    .menu-desktop,
    .navbar-right {
        display: none !important;
    }
}